  <div class="row" *ngIf="iiifEnabled">
    <div class="col-12">
      <ds-mirador-viewer id="iiif-viewer"
                     [object]="object"
                     [searchable]="iiifSearchEnabled"
                     [query]="iiifQuery$ | async">
      </ds-mirador-viewer>
    </div>
  </div>
  <div class="d-flex flex-row">
    <h2>Sample</h2>&#10240;
    <ds-item-page-title-field [item]="object" class="mr-auto">
    </ds-item-page-title-field>
    <div class="pl-2 space-children-mr">
      <ds-dso-page-version-button (newVersionEvent)="onCreateNewVersion()" [dso]="object"
                                  [tooltipMsgCreate]="'item.page.version.create'"
                                  [tooltipMsgHasDraft]="'item.page.version.hasDraft'"></ds-dso-page-version-button>
      <ds-dso-page-edit-button [pageRoute]="itemPageRoute" [dso]="object" [tooltipMsg]="'item.page.edit'"></ds-dso-page-edit-button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-4">
      <ng-container *ngIf="!mediaViewer.image">
        <ds-metadata-field-wrapper [hideIfNoTextContent]="false">
          <ds-thumbnail [thumbnail]="object?.thumbnail | async"></ds-thumbnail>
        </ds-metadata-field-wrapper>
      </ng-container>
      <ng-container *ngIf="mediaViewer.image">
        <ds-media-viewer [item]="object" [videoOptions]="mediaViewer.video"></ds-media-viewer>
      </ng-container>
      <ds-themed-item-page-file-section [item]="object"></ds-themed-item-page-file-section>
      <!-- <ds-item-page-date-field [item]="object"></ds-item-page-date-field>
      <ds-metadata-representation-list class="ds-item-page-mixed-author-field"
        [parentItem]="object"
        [itemType]="'Person'"
        [metadataFields]="['dc.contributor.author', 'dc.creator']"
        [label]="'relationships.isAuthorOf' | translate">
      </ds-metadata-representation-list>
      <ds-generic-item-page-field [item]="object"
        [fields]="['journal.title']"
        [label]="'item.page.journal-title'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['journal.identifier.issn']"
        [label]="'item.page.journal-issn'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['journalvolume.identifier.name']"
        [label]="'item.page.volume-title'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.publisher']"
        [label]="'item.page.publisher'">
      </ds-generic-item-page-field> -->
    </div>
    <div class="col-xs-12 col-md-8">
      <h3>Sample Information</h3>
      <!-- <ds-item-page-abstract-field [item]="object"></ds-item-page-abstract-field>

      <div class="ds-table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
              <tr class="ds-table-row odd">
                <td class="label-cell">
                  <ds-generic-item-page-field [item]="object"
                  [fields]="['']"
                  [label]="'item.page.Legend.collectiondetail'">
                  </ds-generic-item-page-field>
                </td>
                <td></td>
                <td class="label-cell">
                  <ds-generic-item-page-field [item]="object"
                  [fields]="['dwc.npdg.detail']"
                  [label]="''">
                  </ds-generic-item-page-field>
                </td>
              </tr>
              <tr class="ds-table-row even">
                <td class="label-cell">
                  <ds-generic-item-page-field [item]="object"
                  [fields]="['']"
                  [label]="'item.page.Legend.city'">
                  </ds-generic-item-page-field>
                </td>
                <td></td>
                <td class="label-cell">
                  <ds-generic-item-page-field [item]="object"
                  [fields]="['dwc.npdg.homecity']"
                  [label]="''">
                  </ds-generic-item-page-field>
                </td>
              </tr>
            </tbody>
        </table>
    </div> -->

      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.detail']"
        [label]="'item.page.Legend.collectiondetail'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.homecity']"
        [label]="'item.page.Legend.city'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.homestate']"
        [label]="'item.page.Legend.state'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.homezip']"
        [label]="'item.page.Legend.zip'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.internalcode']"
        [label]="'item.page.Legend.internalcode'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.isolatesRBM']"
        [label]="'item.page.Legend.isolatesfromrbm'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.isolatesTV8']"
        [label]="'item.page.Legend.isolatesfromtv8'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.sampleid']"
        [label]="'item.page.Legend.sampleid'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dwc.npdg.imagestatus']"
        [label]="'item.page.Legend.imagestatus'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.relation.wiki']"
        [label]="'item.page.Legend.taxonomy'">
      </ds-generic-item-page-field>

      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.description']"
        [label]="'item.page.description'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.subject']"
        [separator]="','"
        [label]="'item.page.subject'">
      </ds-generic-item-page-field>
      <ds-generic-item-page-field [item]="object"
        [fields]="['dc.identifier.citation']"
        [label]="'item.page.citation'">
      </ds-generic-item-page-field>
      <ds-item-page-uri-field [item]="object"
        [fields]="['dc.identifier.uri']"
        [label]="'item.page.uri'">
      </ds-item-page-uri-field>
      <ds-item-page-collections [item]="object"></ds-item-page-collections>
      <div>
        <a class="btn btn-outline-primary" [routerLink]="[itemPageRoute + '/full']" role="button">
          <i class="fas fa-info-circle"></i> {{"item.page.link.full" | translate}}
        </a>
      </div>
    </div>
  </div>
  <ds-legend-note></ds-legend-note>