<h2 class="comcol-browse-label h5">{{'browse.comcol.head' | translate}}</h2>
<nav class="comcol-browse mb-4" aria-label="Browse Community or Collection">
  <div class="d-none d-sm-block">
    <div class="list-group list-group-horizontal">
      <ng-container *ngIf="getNormalHandle()!=='11244/28096'; else csTemp">
        <ng-container *ngFor="let option of allOptions">
          <ng-container *ngIf="!((option.label | translate)==='By SampleID'||(option.label | translate)==='By City'
          ||(option.label | translate)==='By State'||(option.label | translate)==='By ZipCode')">
            <a class="list-group-item"
            [routerLink]="option.routerLink"
            [queryParams]="option.params"
            routerLinkActive="active">{{ option.label | translate }}</a>
          </ng-container>
        </ng-container>
      </ng-container>
    </div>
  </div>

  <div class="d-block d-sm-none">
    <select name="browse-type"
            class="form-control"
            aria-label="Browse Community or Collection"
            (ngModelChange)="onSelectChange($event)" [ngModel]="currentOptionId$ | async">
      <ng-container *ngIf="getNormalHandle()!=='11244/28096'; else csOptTemp">
        <ng-container *ngFor="let option of allOptions">
          <ng-container *ngIf="!((option.label | translate)==='By SampleID'||(option.label | translate)==='By City'
                    ||(option.label | translate)==='By State'||(option.label | translate)==='By ZipCode')">
                    <option [ngValue]="option.id"
                    [attr.selected]="(currentOptionId$ | async) === option.id ? 'selected' : null">{{ option.label | translate }}</option>
          </ng-container>
        </ng-container>
      </ng-container>
    </select>
  </div>
</nav>

<ng-template #csTemp>
  <ng-container *ngFor="let option of allOptions">
    <ng-container *ngIf="!((option.label | translate)==='By Issue Date'||(option.label | translate)==='By Author'
    ||(option.label | translate)==='By Title'||(option.label | translate)==='By Subject'||(option.label | translate)==='By Series'
    ||(option.label | translate)==='By Degree')">
      <a class="list-group-item"
      [routerLink]="option.routerLink"
      [queryParams]="option.params"
      routerLinkActive="active">{{ option.label | translate }}</a>
    </ng-container>
  </ng-container>
</ng-template>

<ng-template #csOptTemp>
  <ng-container *ngFor="let option of allOptions">
    <ng-container *ngIf="!((option.label | translate)==='By Issue Date'||(option.label | translate)==='By Author'
              ||(option.label | translate)==='By Title'||(option.label | translate)==='By Subject'||(option.label | translate)==='By Series'
              ||(option.label | translate)==='By Degree')">
              <option [ngValue]="option.id"
              [attr.selected]="(currentOptionId$ | async) === option.id ? 'selected' : null">{{ option.label | translate }}</option>
    </ng-container>
  </ng-container>
</ng-template>