<div class="container">
    <h2 class="ds-div-head page-header first-page-header">Contact us</h2>
    <div id="aspect_artifactbrowser_Contact_div_contact" class="ds-static-div primary">
        <p class="ds-paragraph">SHAREOK administrators may be contacted at:</p>
        <p class="ds-paragraph">
            &nbsp;
        </p>
        <p class="ds-paragraph display-underline">Oklahoma State University</p>
        <p class="ds-paragraph">
            <a href="https://library.okstate.edu/about/contact-us">Feedback form</a>
        </p>
        <p class="ds-paragraph">
            &nbsp;
        </p>
        <p class="ds-paragraph display-underline">University of Oklahoma</p>
        <p class="ds-paragraph">
            <a href="https://libraries.ou.edu/content/contact-ou-shareok">Feedback form</a>
        </p>
        <p class="ds-paragraph">
            &nbsp;
        </p>
        <p class="ds-paragraph display-underline">University of Central Oklahoma</p>
        <p class="ds-paragraph">
            <a href="mailto:diwg@uco.edu">diwg@uco.edu</a>
        </p>
        <p class="ds-paragraph">
            &nbsp;
        </p>
        <p class="ds-paragraph display-underline">General Feedback</p>
        <p class="ds-paragraph">
            <a href="https://libraries.ou.edu/content/contact-ou-shareok">Feedback form</a>
        </p>
    </div>
</div>