<div class="row">
  <h4 class="page-header first-page-header">Legend and Notes</h4>
  <div class="ds-table-responsive">
      <table class="ds-includeSet-table detailtable table table-striped table-hover">
          <tbody>
              <tr class="ds-table-row odd">
                  <td class="label-cell">Collection Detail</td>
                  <td>Additional information provided by the citizen scientist; specific details that could be used to
                      determine the identity of an individual citizen scientist (such as a street address) have been
                      removed from the publicly accessible version of the dataset.</td>
              </tr>
              <tr class="ds-table-row even">
                  <td class="label-cell">Internal Code</td>
                  <td>This is a number that is created and used by researchers to track samples in the laboratory.</td>
              </tr>
              <tr class="ds-table-row odd">
                  <td class="label-cell"># of Isolates from RBM</td>
                  <td>Soil samples were applied to Petri plates containing food called RBM (Rose Bengal Malt Extract Agar)
                      that enables fungi to grow (visit https://whatsinyourbackyard.org/process/ for more information
                      about the fungal growth process); the value presented refers to the number of unique-appearing fungi
                      estimated on the plate; when shown, the plate with the pinkish-red-colored background was made with
                      RBM agar.</td>
              </tr>
              <tr class="ds-table-row even">
                  <td class="label-cell"># of Isolates from TV8</td>
                  <td>Soil samples were applied to Petri plates containing food called TV8 (V8 + Triton X-100 Agar) that
                      enables fungi to grow (visit https://whatsinyourbackyard.org/process/ for more information about the
                      fungal growth process); the value presented refers to the number of unique-appearing fungi estimated
                      on the plate; when shown, the plate with the tan-colored background was made with TV8 agar.</td>
              </tr>
              <tr class="ds-table-row odd">
                  <td class="label-cell">Photos</td>
                  <td>Most samples handled prior to May 2015 were processed using a different protocol and pictures were
                      not recorded; if you provided a sample prior to this date, you are welcomed to request a new kit and
                      submit a different sample to the program.</td>
              </tr>
              <tr class="ds-table-row even">
                  <td class="label-cell">Taxonomy</td>
                  <td>DNA samples are taken from the unique-appearing fungi and a portion of the DNA referred to as the
                      ITS region is sequenced from each sample. The sequence information provides a reasonable
                      approximation for the genus-level identities of most fungi. Additional DNA testing would be needed
                      to fully resolve the species or sub-species identities of each fungus. Links to further information
                      about the fungal genera are provided when available. When examining your results, bear in mind that
                      fungi tend to be very diverse and fill many different roles in the environment. Just because a
                      particular type of fungus found in your yard shares the same genus name with a plant or animal
                      pathogen, it does not necessarily mean that the fungus in your sample is harmful.</td>
              </tr>
          </tbody>
      </table>
  </div>
</div>