<div class="background-image-container">
  <div class="container">
    <div class="jumbotron jumbotron-fluid">
      <div class="d-flex flex-wrap">
        <h1 class="display-3">SHAREOK Repository</h1>
      </div>
      <p>SHAREOK is the joint institutional repository for the University of Oklahoma Libraries (OU), Oklahoma State University Libraries (OSU), and the University of Central Oklahoma Max Chambers Library (UCO). It serves as the home for the intellectual output of those institutions, such as: digital theses and dissertations, faculty publications, open access publications, open educational resources, institution-specific content and much more.</p>
      <p>If you would like to place your works in the institutional repository, please contact your library: <a href="https://libraries.ou.edu/content/contact-ou-shareok">OU</a>, <a href="https://library.okstate.edu/about/contact-us">OSU</a>, or <a href="mailto:diwg@uco.edu">UCO</a>. Digital assets placed in the repository are available to a global audience, and search engine optimization techniques are used to increase their visibility to researchers and thus their impact on the global community.</p>
      <p>If you are an OU student submitting a master’s thesis or doctoral dissertation to the Graduate College via SHAREOK, please follow these <a href="https://lib.ou.edu/sites/default/files/2016/OU_Dissertation_Thesis_Submission_Instructions.pdf">instructions</a>. For policies on embargoing your thesis or dissertation, please refer to the <a href="http://ou.edu/gradcollege/forms">Graduate College Thesis/Dissertation Instruction Packet</a>.</p>
      <p>OSU students should follow the Thesis and Dissertation Guidelines posted in <a href="https://canvas.okstate.edu/courses/31330/modules/89625">Canvas</a> or <a href="mailto:grad-i@okstate.edu">email</a> the Graduate College for more information.</p>    </div>
  </div>
  <picture class="background-image">
    <source type="image/webp" srcset="assets/dspace/images/banner.webp 2000w, assets/dspace/images/banner-half.webp 1200w, assets/dspace/images/banner-tall.webp 768w">
    <source type="image/jpg" srcset="assets/dspace/images/banner.jpg 2000w, assets/dspace/images/banner-half.jpg 1200w, assets/dspace/images/banner-tall.jpg 768w">
    <img alt="" [src]="'assets/dspace/images/background-image.jpg'"/><!-- without the []="''" Firefox downloads both the fallback and the resolved image -->
  </picture>
</div>
