  <h2 class="ds-div-head page-header first-page-header">{{'info.feedback.contact.title' | translate}}</h2>
  <div id="aspect_artifactbrowser_Contact_div_contact" class="ds-static-div primary">
      <p class="ds-paragraph">{{'info.feedback.contact.info_name' | translate}}<sup>TM</sup> {{'info.feedback.contact.info' | translate}}</p>
      <p class="ds-paragraph">
          &nbsp;
      </p>
      <p class="ds-paragraph display-underline">{{'info.feedback.contact.institution_osu' | translate}}</p>
      <p class="ds-paragraph">
          <a href="https://library.okstate.edu/about/contact-us">{{'info.feedback.contact.form_label' | translate}}</a>
      </p>
      <p class="ds-paragraph">
          &nbsp;
      </p>
      <p class="ds-paragraph display-underline">{{'info.feedback.contact.institution_ou' | translate}}</p>
      <p class="ds-paragraph">
          <a href="https://libraries.ou.edu/content/contact-ou-shareok">{{'info.feedback.contact.form_label' | translate}}</a>
      </p>
      <p class="ds-paragraph">
          &nbsp;
      </p>
      <p class="ds-paragraph display-underline">{{'info.feedback.contact.institution_uco' | translate}}</p>
      <p class="ds-paragraph">
          <a href="mailto:{{'info.feedback.contact.uco_email' | translate}}">{{'info.feedback.contact.uco_email' | translate}}</a>
      </p>
      <p class="ds-paragraph">
          &nbsp;
      </p>
      <p class="ds-paragraph display-underline">{{'info.feedback.contact.general_feedback' | translate}}</p>
      <p class="ds-paragraph">
          <a href="https://libraries.ou.edu/content/contact-ou-shareok">{{'info.feedback.contact.form_label' | translate}}</a>
      </p>
  </div>